build/
target/
*.jar
*.war

.idea/
.vscode/
*.iml
*.iws
*.ipr
.git/
.gitignore
.gitattributes
.gradle/
gradle-wrapper.jar
logs/
*.log
uploads/

docs/
*.md
#README.md 는 포함
!README.md

src/test/

.DS_Store

Thumbs.db

Dockerfile
.dockerignore
docker-compose.yml


